.mediaViewInfo {
	--web-view-name: More Detailed Page_3;
	--web-view-id: More_Detailed_Page_3;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: More_Detailed_Page_3;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#wrap {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(242,242,242,1);
	overflow: hidden;
	--web-view-name: More Detailed Page_3;
	--web-view-id: More_Detailed_Page_3;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}

#closet {
	fill: rgba(166,166,166,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.closet1 {
	position: absolute;
	overflow: visible;
	width: 224px;
	height: 160px;
	left: 737px;
	top: 299px;
}
.closet2 {
	position: absolute;
	overflow: visible;
	width: 224px;
	height: 160px;
	left: 737px;
	top: 458px;
}
.closet3 {
	position: absolute;
	overflow: visible;
	width: 224px;
	height: 160px;
	left: 737px;
	top: 617px;
}

.closet4 {
	position: absolute;
	overflow: visible;
	width: 224px;
	height: 160px;
	left: 737px;
	top: 776px;
}

.closet5 {
	position: absolute;
	overflow: visible;
	width: 224px;
	height: 160px;
	left: 960px;
	top: 299px;
}

.closet6 {
	position: absolute;
	overflow: visible;
	width: 224px;
	height: 160px;
	left: 960px;
	top: 458px;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: Explain_page.html;
	cursor: pointer;
}

.closet7 {
	position: absolute;
	overflow: visible;
	width: 224px;
	height: 160px;
	left: 960px;
	top: 617px;
}

.closet8 {
	position: absolute;
	overflow: visible;
	width: 224px;
	height: 160px;
	left: 960px;
	top: 776px;
}
.closetName{
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	text-align: center;
	font-family: Pretendard;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(238,238,238,1);
}
#closet1Name {
	left: 795px;
	top: 355px;
}
#closet2Name {
	left: 795px; 
	top: 514px;
}
#closet3Name {
	left: 795px;
	top: 673px;
}
#closet4Name {
	left: 795px;
	top: 832px;
}
#closet5Name {
	left: 1018px;
	top: 355px;
}
#closet6Name {
	left: 1018px;
	top: 514px;
}
#closet7Name {
	left: 1018px;
	top: 673px;
}
#closet8Name {
	left: 1018px;
	top: 832px;
}
#map {
	fill: rgba(217,217,217,1);
}
.map {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 434px;
	height: 193px;
	left: 1388px;
	top: 841px;
}