.mediaViewInfo {
	--web-view-name: Main page - 1F;
	--web-view-id: Main_page_-_1F;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Main_page_-_1F;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#wrap {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(242,242,242,1);
	overflow: hidden;
	--web-view-name: Main page - 1F;
	--web-view-id: Main_page_-_1F;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}

#whereAmI {
	left: 114px;
	top: 189px;
	position: absolute;
	overflow: visible;
	width: 200px;
	white-space: nowrap;
	text-align: left;
	font-family: Pretendard;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(25,25,25,1);
}
#room {
	fill: rgba(187,187,187,1);
	stroke: rgba(105,105,105,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
#restroom {
	fill: rgba(143,176,208,1);
	stroke: rgba(105,105,105,1);
}
#staircase {
	fill: rgba(242,225,141,1);
	stroke: rgba(105,105,105,1);
}
.hallway {
	position: absolute;
	overflow: visible;
	width: 1690px;
	height: 194px;
	left: 114px;
	top: 438px;
}
.staircase {
	position: absolute;
	overflow: visible;
	width: 190px;
	height: 192px;
	left: 114px;
	top: 246px;
}
.room1 {
	position: absolute;
	overflow: visible;
	width: 192px;
	height: 192px;
	left: 467px;
	top: 246px;
}
.room2 {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 192px;
	left: 658px;
	top: 246px;
}
.room3 {
	position: absolute;
	overflow: visible;
	width: 90px;
	height: 192px;
	left: 837px;
	top: 246px;
}
.room4 {
	position: absolute;
	overflow: visible;
	width: 140px;
	height: 192px;
	left: 114px;
	top: 631px;
}
.room5 {
	position: absolute;
	overflow: visible;
	width: 208px;
	height: 192px;
	left: 253px;
	top: 631px;
}
.room6 {
	position: absolute;
	overflow: visible;
	width: 186px;
	height: 192px;
	left: 460px;
	top: 631px;
}
.room7 {
	position: absolute;
	overflow: visible;
	width: 190px;
	height: 192px;
	left: 645px;
	top: 631px;
}
.restroom {
	position: absolute;
	overflow: visible;
	width: 92px;
	height: 192px;
	left: 834px;
	top: 631px;
}
.roomSpecial {
	position: absolute;
	overflow: visible;
	width: 298px;
	height: 192px;
	left: 1506px;
	top: 631px;
}
.roomName{
	position: absolute;
	overflow: visible;
	width: 81px;
	height: 72px;
	text-align: center;
	font-family: Pretendard;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(242,242,242,1);
}
#room4Name {
	left: 144px;
	top: 709px;
}
#room5Name {
	left: 317px;
	top: 691px;
}
#room6Name {
	left: 460px;
	top: 631px;
}
#room7Name {
	left: 700px;
	top: 691px;
}
#room1Name {
	left: 523px;
	top: 306px;
}
#room2Name {
	left: 708px;
	top: 306px;
}
#room3Name {
	left: 869px;
	top: 288px;
}
#restroomName {
	left: 868px;
	top: 677px;
}
#roomSpecialName {
	left: 1616px;
	top: 709px;
}
#staircaseName {
	left: 182px;
	top: 324px;
	color: rgba(25,25,25,1);
}

#floor1 {
	position: absolute;
	width: 96px;
	height: 56px;
	left: 114px;
	top: 879px;
	overflow: visible;
}

#floor2 {
	position: absolute;
	width: 96px;
	height: 56px;
	left: 210px;
	top: 879px;
	overflow: visible;
}

#floor3 {
	position: absolute;
	width: 96px;
	height: 56px;
	left: 306px;
	top: 879px;
	overflow: visible;
}
#floor4 {
	position: absolute;
	width: 96px;
	height: 56px;
	left: 402px;
	top: 879px;
	overflow: visible;
}

.floorText{
	position: absolute;
	overflow: visible;
	width: 37px;
	height: 36px;
	text-align: left;
	font-family: Pretendard;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(242,242,242,1);
}
#floor1Text {
	left: 32px;
	top: 10px;
}
#floor2Text {
	left: 30px;
	top: 10px;
}
#floor3Text {
	left: 30px;
	top: 10px;
}
#floor4Text {
	left: 30px;
	top: 10px;
}

.floorBoxSelected {
	fill: rgba(242,163,4,1);
}
.floorBox{
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	left: 0px;
	top: 0px;
}
.floorBoxUnselected {
	fill: rgba(242,182,4,1);
}

#floor1Box {
	width: 114px;
	height: 74px;
}

#floor2Box {
	width: 114px;
	height: 74px;
}
#floor3Box {
	width: 114px;
	height: 74px;
}
#floor4Box {
	width: 114px;
	height: 74px;
}

