/* css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
span{
    vertical-align: center;
}
a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: Hand;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
a:hover{
    text-decoration: inherit;
    color: inherit;
    cursor: Hand;
}
/* loading page */
#startPage{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url('./loading_background.png');
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#loadingMsg{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#dg1s_logoimg{
    width :130px;
    height:130px;
}
#loadingTxt{
    /* UI Properties */
text-align: left;
font: normal normal bold 60px/116px Noto Sans CJK KR;
letter-spacing: 0px;
color: #F2F2F2;
opacity: 1;
}
/* web layout */
body{
    background-color: #F2F2F2 0% 0% no-repeat padding-box;
}
#r{
	display: grid;
    grid-template-areas: 
        "header"
        "line"
        "main"
        "footer";
    grid-template-rows: 11vh 1vh minmax(83vh, auto) auto;
}
#r div:nth-child(3){
	grid-area: main;
	width: 100%;
}
#line{
    border: 1px solid black;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top:0.3vh;
}

/* header */
#header{
	font-size: 0rem;
	grid-area: header;
    height: 11vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: stretch;   /*??*/
}

#title{
    align-self: stretch;
    width: 60vw;
    height: 8.5vh;
    text-align: left;
    font: normal normal bold 33px "Noto Sans KR";
    letter-spacing: 0px;
    color: #0A2BA0;
    opacity: 1;
	cursor: default;
    padding: 3vh 0px 0px 3vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 800px){
    #title{
        font-size: 4.1vw
    }
}

#search{
 justify-self: end;
 padding: 3vh 3vw 0px 0px
}

#searchBar{
    width: 34vw;
    height: 6.5vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 26px;
    opacity: 1;
    display: grid;
    grid-template-columns: 30vw 4vw;
    place-items: center;
}

#searchText{
    width: 27vw;
    height: 5vh;
    text-align: left;
    font: normal normal 18px/24px Pretendard;
    letter-spacing: 0px;
    color: #686868;
    opacity: 1;

}

.searchIco{
    width: 30px;
	height: 30px;
}

#optionbuttontxt{
    /* UI Properties */
    border-radius: 26px;
    border:none;
    box-shadow: 3px 3px 6px #00000029;
    font: normal normal Pretendard;
    letter-spacing: 0px;
    color: #686868;
    opacity: 1;

    text-align: center;
    justify-self: end;
}

.whitebutton{
    background-color: #FFFFFF;
}

.yellowbutton{
    background-color: #ffdf66;
}

.whitebutton:hover{
    background-color: rgb(246, 246, 246)
}

.whitebutton:active{
    background-color: rgb(239, 239, 239)
}

#mainbutton{
    margin:3vh 3vw 0px 0px;
    display:flex;
    flex-direction: row-reverse;
}

#headerline{
    width: 90%;
	height: 2px;
    border: 2px solid #707070;
    opacity: 1;
    display: block;
}

header:after{
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.no-outline{
    outline: none;
    border-right:0px;
    border-top:0px;
    border-left:0px;
    border-bottom:0px;
    background-color: transparent;
}

/* footer */
#footer{
	grid-area: footer;
    height: auto;
	width: 100%;
	font-size: 0%;
    display: grid;
    grid-template-columns: 280fr 1240fr 150fr 100fr;
    align-items: start;
    align-self: end;
}

#copyright{
    text-align: right;
    font: normal normal normal 15px/18px Roboto;
    letter-spacing: 0px;
    color: #686868;
    opacity: 1;
}
#creditTxt{
    text-align: left;
    text-decoration: underline;
    font: normal normal normal 15px/18px Roboto;
    letter-spacing: 0px;
    color: #686868;
    opacity: 1;
	cursor: pointer;
}
#auth{
    text-align: left;
    text-decoration: underline;
    font: normal normal normal 15px/18px Roboto;
    letter-spacing: 0px;
    color: #686868;
    opacity: 1;
	cursor: pointer;
}

/* credit */
#credit{
    margin: 5px 0px 0px 0px;
	text-align: center;
	font-size: 0px;
	display: grid;
    grid-template-areas: 
    "titleA titleB"
    "peopleA peopleB";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5rem 1fr;
	justify-content: center;
	align-items: center;
}

#credit span{
    font: normal normal 800 20px/41px Pretendard;
}

#credit h2{
	font: normal normal 800 35px/41px Pretendard;
}

#credit h3{
	font: normal normal 800 25px/41px Pretendard;
}

#ico{
	width: 1.2em;
	height:1.2em;
}

#kloppCreditTitle{
    grid-area: titleA;
    margin: 0px 0px 0px 0px;
}

#kloppCreditPeople{
    grid-area: peopleA;
}

#scienceCreditTitle{
    grid-area: titleB;
    margin: 0px 0px 0px 0px;
}

#scienceCreditPeople{
    grid-area: peopleB;
}

/* school map */

#schoolmap{
    margin: 5vh 5vw 2vh 5vw;
    width: auto;
    height: auto;
    display: grid;
    grid-template-areas: 
    "floor"
    "floormap"
    "button";
    grid-template-rows: 3em 36vw 3.5em;
    grid-template-columns: 90vw;
}

#floor{
    text-align: left;
    font: normal normal 800 2em Pretendard;
    letter-spacing: 0px;
    color: #191919;
    opacity: 1;
    padding-left: 0.2em;
}

#buttonbox{
    display: grid;
    grid-template-columns: 6em 6em 6em 6em;
}

.floorbutton{
    background: #FFDF66 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 6px #00000029;
    border-radius: 0px 0px 1.3em 1.3em;
    opacity: 1;
    text-align: left;
    font: normal normal 600 1.7em Pretendard;
    letter-spacing: 0px;
    color: #191919;
    opacity: 1;
    text-align: center;
}

.floorbutton:hover{
    background-color:#b4e0fc;
}

.floorbutton.active{
    background-color: #94CEF2;
}

#floormap1{
    display:grid;
    height:36vw;
    grid-template-rows: 3fr 2fr 3fr;
    align-self: center;
}

#floormap2{
    display:grid;
    height:36vw;
    grid-template-rows: 3fr 2fr 3fr;
    align-self: center;
}

#floormap3{
    display:grid;
    height:36vw;
    grid-template-rows: 3fr 2fr 3fr;
    align-self: center;    
}

#floormap4{
    display:grid;
    height:36vw;
    grid-template-rows: 3fr 2fr 3fr; 
    align-self: center;   
}

#floormapTop{
    display:flex;
    flex-direction: row;
    align-items: end;
}

#floormapEnd{
    display:flex;
    flex-direction: row;
    align-items: top;  
}

.mapFactor{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font: normal normal 600 1.4vw Pretendard;
    letter-spacing: 0px;
    color: #F2F2F2;
    opacity: 1;
    border: 1px solid #696969;
    white-space: pre-wrap;
}

.lab{
    background: #94CEF2 0% 0% no-repeat padding-box;
}

.stair{
    background: #dbdbdb 0% 0% no-repeat padding-box;
    color: #191919;
}

.etc{
    background: #BBBBBB 0% 0% no-repeat padding-box;
}

.blank{
    border:none;
    background: none;
}

.corridor{
    width:100%;
    height:100%;
}

/* lab */
#inlab{
    margin: 5vh 5vw 2vh 5vw;
    width: auto;
    height: auto;
    display: grid;
    grid-template-areas: 
    "labname"
    "map";
    grid-template-rows: 3em 42vw;
    grid-template-columns: 90vw;
}

#labname{
    text-align: left;
    font: normal normal 800 2em "Pretendard";
    letter-spacing: 0px;
    color: #191919;
    opacity: 1;
    padding-left: 0.2em;

    display: grid;
    grid-template-columns: auto 4em 4em;
    grid-template-rows: 100%;
}

/* 버튼 css 일부는 헤더쪽에 있음 */

#labToMainButton{
    margin:0px 0px 0px 0px;
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
}

#labmap{
    margin-top:8px;
    height: 100%;
    position:relative;
    background-color: #D9D9D9;
}

#mapcontainer{
    position:absolute;
    display:flex;
    align-items:flex-start;
}

.closet{
    background-color:#A6A6A6
}

#closetNum{
    color: #191919;
    font: normal normal 800 1.5vw Pretendard;
    position:absolute;
    left:3px;
    top:0px;
}

#closetContent{
    color: #EEEEEE;
    font: normal normal medium 1.2vw Pretendard;
}

/* closet.js */
#closetmap{
    margin-top:8px;
    height: 100%;
    width: 26.8vw;
    position:relative;
    justify-self: center;
    display: grid;
    background-color: #D9D9D9;
}

#equipmentcontainer{
    position:absolute;
    height: 94.2%;
    width: 87%;
    justify-self: center;
    align-self: center;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
}